.App {
  text-align: center;
}

.slideContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 50vh;
}


.imgScroll {
  height: 100vh;
  display: none;
  opacity: 0;
}

@keyframes slideChange {
  0% { opacity: 0; }
  100% { opacity: 1; }
}

.imgScroll.active {
  display: block;
  opacity: 1;
  animation-name: slideChange;
  animation-duration: 1s;
  animation-timing-function: ease-in;
}